@charset "utf-8";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	background-color: #000000;
}
#contenedor {
    width: 100vw;
    height: 100vh;
}

.up {
	width: 100%;
	position: fixed;           
	align-items: center;          
    justify-content: center;
    left: 0;
    right: 0;
    z-index: 1000;
    overflow: hidden;  
    white-space: nowrap;
	background-color:#000000;
}

.ticker__list {
    display: flex;
    animation: ticker 27s linear infinite; 
    margin: 0; 
    padding: 0;
	list-style-type: none;
}

.ticker__item {
    padding-right: 7vw;
	font-family: "Urbanist", sans-serif;
	font-size: 0.9rem;
	font-weight:medium;
}


@keyframes ticker {
    0% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(-154%);
    }
}

header {
    width: 100%;
    height: 6vh;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    position: fixed;           
    align-items: center;          
    justify-content:flex-end;
    left: 0;
    right: 0;
    z-index: 1000;
	padding-left: 1vw;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

nav ul li {
    margin-right: 0.1vw;
}

nav ul li a {
    text-decoration: none;
    color: white;
	font-weight: bold;
	font-family: "Urbanist", sans-serif;
	font-size: 2.5rem;
	padding-right: 2vw;
}
